
* {
   margin: 0;
   padding: 0;
}

.icon {
   max-width: 100%;
}

  .welcome,
  .tagline {
   text-align: center;
   margin: 2em;
   font-size: 2em;
  }

  .description {
   margin: auto;
   width: 80svw;
   line-height: 2.5;
  }