
* {
   margin: 0;
   padding: 0;
}
/* .content {
   width: 100svw;
   overflow-x: hidden;
   background: url('./icon.png');
  } */

.icon {
   max-width: 100%;
}

  .welcome,
  .tagline {
   text-align: center;
   margin: 2em;
   font-size: 2em;
   /* margin: auto;
   width: 80svw; */
  }

  .description {
   margin: auto;
   width: 80svw;
   line-height: 2.5;
  }